.content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
    height: 200px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.contenta{background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);}
.contentb{background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);}
.contentc{background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);}
.contentd{background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);}
.contente{background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);}
.contentf{background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);}
.contentg{background-image: linear-gradient(-20deg, #dcb0ed 0%, #99c99c 100%);}
.type {
    margin: 0px 80px;
    padding: 10px 0;
    display: block;
    color: #fff;
    text-align: left;
}
.context{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.from{
    margin: 0px 80px;
    display: block;
    color: #fff;
    text-align: right;
}
.moreBtn{
    width: 90px;
    height: 25px;
    margin: 50px auto;
    padding: 20px 30px;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    color: #b0dde6;
    border: 1px solid currentColor;
    border-radius: 3px;
    cursor: pointer;
}

